<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Welcome!{% endblock %}</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link href="{{ asset('css/common.css') }}" type="text/css" rel="stylesheet" />

    {% block stylesheets %}{% endblock %}
</head>

<body>

<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h5 class="my-0 mr-md-auto font-weight-normal">Address Book</h5>
    <nav class="my-2 my-md-0 mr-md-3">
        <a href="list" class="p-2 text-dark">Home</a>
        <a href="create" class="p-2 text-dark">Create</a>
    </nav>
    <a class="btn btn-outline-primary" href="#">Sign up</a>
</div>

{% block container %}{% endblock %}

<footer class="pt-4 my-md-5 pt-md-5 border-top">
    <div class="row">
        <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
    </div>
</footer>
</body>

{% block javascripts %}{% endblock %}

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</html>
