{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
            </tr>
            </thead>
            <tbody>
            {% for address in address %}
            <tr>
                <th scope="row">1</th>
                <td>{{ address.firstName }}</td>
                <td>{{ address.lastName }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}
